[Unit]
Description=LoRaWAN Calculator web service

[Service]
Type=forking
# The PID file is optional, but recommended in the manpage
# "so that systemd can identify the main process of the daemon"
PIDFile=/var/run/lora-ws.pid
ExecStart=/home/andrei/src/ws-lora/build/lora-ws \
  -d --pidfile /var/run/lora-ws.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
